<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371339236599-nqot1otkmu2a0vck5havj7ldma2gsk5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371339236599-nqot1otkmu2a0vck5havj7ldma2gsk5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDETTDahmNZuvxqYr8sBpWg0K4QVA0ytlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>371339236599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsonding.nullHand</string>
	<key>PROJECT_ID</key>
	<string>camera-db</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:371339236599:ios:1956ec3197ed6157</string>
	<key>DATABASE_URL</key>
	<string>https://camera-db.firebaseio.com</string>
</dict>
</plist>
